@model EmployeeViewModel ;
@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>
<br />
<br />

<form asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialView/CreateUpdateParitalView" />

    <input class="btn btn-outline-primary"  value="Add" type="submit" />
   

</form>

