@model EmployeeViewModel;
@{
    ViewData["Title"] = "Details";
}

<h1>Details Employee</h1>

<br />
<br />
<form asp-action="Details">

    <partial name="PartialView/DeleteIpdatePartialVeiw" />
    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-light" asp-action="Index">Back List</a>
</form>

