@model Department;
@{
    ViewData["Title"] = "Create";
}

<h1>Create Department</h1>

<form asp-action="Create" >
    <div asp-validation-summary="All"></div>

    <partial name="PartialView/CraetingEditDepartmentPartialView" />

    <input class="btn btn-outline-info" type="submit" value="Add" />

</form>
@* @section vailditionErrors{
    <partial name="_ValidationScriptsPartial" />
} *@

