@model Department
@{
    ViewData["Title"] = "Delete ";
}

<h1>Delete Department </h1>

<form asp-action="Delete">
    <partial name="PartialView/DeatilsDeletePartialView" />

    <input class="btn btn-outline-info" type="submit" value="Delete" />
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

</form>

